<html>
	<head>
	<meta charset="UTF-8">
	<title>Alanbuchanan's Filesize Checker</title>
	<link href='https://fonts.googleapis.com/css?family=Yantramanav:100' rel='stylesheet' type='text/css'>
	<style>
		code {display: block;}
		h1, h2, h3, h4, h5, h6 {font-family: 'Yantramanav', sans-serif;}
		body {background-color: #EEEEEE;}
		span {color: gray;}
	</style>
	</head>
	<body>
		<h1>Alanbuchanan's Filesize Checker</h1>
		<h3>How big is your file? Find out by uploading a file:</h3>
		<form method="post" enctype="multipart/form-data" action="/">
			<p>
				<input type="file" name="upl">
			</p>
			<p>
				<input type="submit">
			</p>
		</form>
	</body>
</html>